/*_________________________________________________________________________*/
* {
    margin: 0;
    padding: 0;
}


body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  overflow-x: hidden;
  
}


header{
  display: flex;
  width: 100vw;
  justify-content: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Добавьте это свойство */
  font-family: 'Fira Code', monospace;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}


#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Замените 100% на 100vh */
  z-index: -1;
  overflow: hidden;
}



/*______________________________________________________________________________*/

.top_LOGO {
  color: #2ed86a;
  font-family: 'Fira Code', monospace;
  font-size: 30px;
}

/* _____________________________________________________________________________ */

.nav ul {
  display: flex; /* Устанавливаем отображение элементов в строку */
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы внутри списка */
  font-size: 20px;
  font-family: 'Fira Code', monospace;
}

li {
  transform: scale(1); /* Начальное состояние без увеличения */
  transition: transform 0.2s ease; /* Плавный переход для свойства transform */
  border-radius: 3px;
  margin-left: 20px;
}

li:hover {
  transform: scale(1.2); /* Увеличение элемента при наведении */
  /* Дополнительные стили */
  box-shadow: 0 0 10px 5px #2ed86a;
  color: #2ed86a;
}

.nav ul li{
  display: flex;
  margin-right: 20px;
}

a {
  color: #2ed86a;
  text-decoration: none; /* Убираем подчеркивания */
}

/* TOP BAR */

.top_bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(74, 74, 74, 0.5);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  height: 7%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1; /* Устанавливаем высший z-index, чтобы панель была поверх других элементов */
}



/* MAIN CONT */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40%;
  box-sizing: border-box;
  margin-top: 70px; /* Добавьте верхний отступ, чтобы избежать перекрытия с шапкой */
}

.resume_list {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background-color: rgba(74, 74, 74, 0.5);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);

}

.info_about_me {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.info_about_me h2{
  color: #135d2d;
  font-weight: bold;
  font-size: 27px;
  padding-top: 7%;
}

.FIO{
  font-size: 50px;
  color: #2ed86a;
  padding-top: 5%;
}

.skills{
  width: 100%;
}
.skills h1{
  color: #2ed86a;
  font-size: 38px;
  margin: 2%;
}
.skills p{
  color: #2ed86a;
  margin: 4%;
  font-size: 25px;
}