@font-face {
    font-family: 'Fira Code'; /* Имя вашего шрифта */
    src: url('/design/resume/fonts/FiraCode-Bold.ttf') format('truetype'); /* Путь к файлу шрифта и формат */
    font-weight: bold; /* Установка жирности шрифта */
  }
  
  @font-face {
    font-family: 'Fira Code Medium'; /* Имя вашего шрифта */
    src: url('/design/resume/fonts/FiraCode-Medium.ttf') format('truetype'); /* Путь к файлу шрифта и формат */
    font-weight: normal; /* Установка нормальной жирности шрифта */
  }
  
  @font-face {
    font-family: 'Fira Code Light'; /* Имя вашего шрифта */
    src: url('/design/resume/fonts/FiraCode-Light.ttf') format('truetype'); /* Путь к файлу шрифта и формат */
  }
  
  @font-face {
    font-family: 'Fira Code Regular'; /* Имя вашего шрифта */
    src: url('/design/resume/fonts/FiraCode-Regular.ttf') format('truetype'); /* Путь к файлу шрифта и формат */
  }
  /*_________________________________________________________________________*/
  * {
      margin: 0;
      padding: 0;
  }
  
  
  body {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header{
    display: flex;
    width: 100vw;
    justify-content: center;
  }
  
  #canvas {
    position: absolute;
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .central {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  /*______________________________________________________________________________*/
  
  .top_LOGO {
    color: #2ed86a;
    font-family: 'Fira Code', monospace;
    font-size: 30px;
  }
  
  /* _____________________________________________________________________________ */
  
  .nav ul {
    display: flex; /* Устанавливаем отображение элементов в строку */
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы внутри списка */
    font-size: 20px;
    font-family: 'Fira Code', monospace;
  }
  
  li {
    transform: scale(1); /* Начальное состояние без увеличения */
    transition: transform 0.2s ease; /* Плавный переход для свойства transform */
    border-radius: 3px;
    margin-left: 20px;
  }
  
  li:hover {
    transform: scale(1.2); /* Увеличение элемента при наведении */
    /* Дополнительные стили */
    box-shadow: 0 0 10px 5px #2ed86a;
    color: #2ed86a;
  }
  
  .nav ul li{
    display: flex;
    margin-right: 20px;
  }
  
  a {
    color: #2ed86a;
    text-decoration: none; /* Убираем подчеркивания */
  }
  
  /* TOP BAR */
  
  .top_bar{
    display: flex;
    position: absolute;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.5); /* Тёмный прозрачный цвет */
    opacity: 0.9; /* Прозрачность элемента */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Эффект стекла */
    backdrop-filter: blur(8px); /* Матовый эффект */
    height: 7%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  
  
  /* MAIN CONT */

main{
  display: flex;
  flex-direction: column;
}

.item{
  margin-top: 1%;
  width: 50%;
  background-color: rgba(74, 74, 74, 0.5); /* Тёмный прозрачный цвет */
  opacity: 0.9; /* Прозрачность элемента */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Эффект стекла */
  backdrop-filter: blur(8px); /* Матовый эффект */
}
.container{
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item h1{
  color: #2ed86a;
  font-family: 'Fira Code', monospace;
  margin: 2%;
  font-size: 28px;
}
.item p{
  color: #19793c;
  font-family: 'Fira Code', monospace;
  margin: 4%;
  font-size: 20px;
  text-align: justify ;
}
.item h3 {
  color: #2ed86a;
  font-family: 'Fira Code', monospace;
  margin: 2%;
}