{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/roadmap.css' %}">
    <script src="{% static 'js/index.js' %}" type="module"></script>
    <title>Резюме</title>
</head>
<body>
    <canvas id="canvas">
    </canvas>
    <header>
        <section class="top_bar">
            <div>
                <h1 class="top_LOGO">mini Blog</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href = "{% url 'main_page' %}">MAIN</a></li>
                    <li><a href = "{% url 'notes_page' %}">NOTES</a></li>
                    <li><a href = "{% url 'resume_page' %}">RESUME</a></li>
                    <li><a href = "{% url 'roadmap_page' %}">ROADMAP</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>

    </main>
</body>
</html>